body {
	overflow-x: hidden;
	font-family: "Times New Roman", Times, serif;
}


#topnavbar {
	height: 10vh;
	/
}

.topnavbarleft {
	float: right;
	//width:10vh;
	height: 5vh;
	text-align: center;
	line-height: 5vh;
	//color:#E46C0A;

}

.topBarStyling {
	//border-right:1px #E46C0A solid;
	padding: 0vh 3vh 0vh 3vh;
}

.topnavbarleft2 {
	float: right;
	//width:10vh;
	height: 5vh;
	text-align: center;
	line-height: 5vh;
	color: black;

}

.topBarStyling2 {
	//border-top:1px #E46C0A solid;
	//border-bottom:1px #E46C0A solid;
	padding: 1vh 0vh 1vh 0vh;
	margin-right: 2.5vh;
}

table {
	border-collapse: collapse;
	width: 90%;
	margin: auto;
}

tr:nth-child(even) {
	background-color: white;
}

th {
	padding: 10px;
	border: 1px solid #FFCB00;
	text-align: center;
	font-size: 1.1em;
}

td {
	padding: 10px;
	border: 1px solid #FFCB00;
	text-align: left;
}


 /* td:first-child {
	white-space: nowrap;
} */





.downloadButton {
	background-color: red;
	border: 2px solid #FFCB00;
	border-radius: 10px;
	color: white;
	padding: 16px 12px;
	/*  font-family: "Times New Roman", Times, serif; */

	text-align: center;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	font-size: 1.5rem;
	width: 175px;
	margin: 10px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	t
}


.downloadButton:hover {
	background-color: white;
	color: red;
	text-decoration: none;

}.indexPageTopText h1 {    font-size: 30px;    font-weight: 700;}

.guest {
	text-decoration: none;
	color: black;

	border-bottom: 3px solid blue;
}

.guest:hover {
	text-decoration: none;
	color: blue;

	border-bottom: 3px solid blue;
}

.guest:visited {
	text-decoration: none;
	color: lightblue;
}

.linksClass {
	padding: 0;
	vertical-align: middle;
	font-size: 1.2vw;
	text-decoration: underline;

}

.blink_me {
	animation: blinker 1s step-start infinite;
  }
  
  @keyframes blinker {
	50% {
	  opacity: 0;
	}
  }